{% extends 'store_app/main.html' %}
{% load static %}
{% block header %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
{% endblock %}

{% block body %}
<section class="h-20" style="background-color: #ffffff;">
    <div class="container h-20 py-5">
        <div class="row d-flex justify-content-center align-items-center h-20">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                    <form action="" method="post">
                    {% csrf_token %}
                    <div>
                        <button class="btn btn-outline-dark" type="submit" name="sort_by_price">
                            Sort by: price <i class="fas fa-angle-down"></i>
                        </button>
                    </div>
                    </form>
                </div>
                {% for item in items %}
                <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img src="{{item.product.image.url}}"
                                     class="img-fluid rounded-3">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2">{{item.product.name}}</p>
                                <p><span class="text-muted">Release year: </span>{{item.product.release_year}}<br> <span
                                        class="text-muted">Color: </span>{{item.product.color}}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                                <p class="quantity">{{item.quantity}}</p>
                                <div class="quantity">
                                    <div class="arrow">
                                        <img data-product="{{item.product.id}}" data-action="add"
                                             class="change-quantity update-cart"
                                             src="{% static  'images/arrow-up.png' %}">
                                    </div>
                                    <div class="arrow">
                                        <img data-product="{{item.product.id}}" data-action="remove"
                                             class="change-quantity update-cart"
                                             src="{% static  'images/arrow-down.png' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 class="mb-0">Total: ${{ item.get_item_total}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'checkout_page' %}">
                            <button type="button" class="btn btn-dark btn-block btn-lg">Proceed to shipping page
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
