{% extends 'store_app/main.html' %}

{% block header %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
{% endblock %}


{% block body %}
<div class="container mt-5 px-5 checkout">
    <div class="mb-4">
        <h2>Confirm order and pay.</h2>
    </div>
    <div class="row">
        <div class="col-md-8">

            <div class="card p-3">
                <h6 class="text-uppercase">Payment details</h6>
                <div class="inputbox mt-3"><input type="text" name="name" class="form-control" required="required">
                    <span>Name on card</span></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="inputbox mt-3 mr-2"><input type="text" name="name" class="form-control"
                                                               required="required"> <i class="fa fa-credit-card"></i>
                            <span>Card Number</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-row">
                            <div class="inputbox mt-3 mr-2"><input type="text" name="name" class="form-control"
                                                                   required="required"> <span>Expiry</span></div>
                            <div class="inputbox mt-3 mr-2"><input type="text" name="name" class="form-control"
                                                                   required="required"> <span>CVV</span></div>
                        </div>
                    </div>
                </div>

                <div class="mt-4 mb-4">
                    <h6 class="text-uppercase">Billing Address</h6>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"><input type="text" name="name" class="form-control"
                                                                   required="required"> <span>Street Address</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"><input type="text" name="name" class="form-control"
                                                                   required="required"> <span>City</span></div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"><input type="text" name="name" class="form-control"
                                                                   required="required"> <span>State/Province</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"><input type="text" name="name" class="form-control"
                                                                   required="required"> <span>Zip code</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>


        <div class="ordered_list">
                     <h4>List of ordered items for ${{order.get_cart_total|floatformat:2}}</h4>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Image</th>
        <th scope="col">Product name</th>
      <th scope="col">Quantity</th>
        <th scope="col">Color</th>
        <th scope="col">Release year</th>
        <th scope="col">Item total</th>
    </tr>
  </thead>

  <tbody>
  {% for item in items %}
    <tr>

      <td><img src="{{item.product.image.url}}" width="40px" height="40px" </td>
        <td>{{item.product.name}}</td>
      <td>{{item.quantity}}</td>
        <td>{{item.product.color}}</td>
        <td>{{item.product.release_year}}</td>
        <td>${{ item.get_item_total}}</td>
        {% endfor %}
    </tr>
  </tbody>
</table>
            </div>
            <div class="mt-4 mb-4 d-flex justify-content-between confirm">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'thanks_page' %}">Confirm
                    order</a></div>

            </div>

    </div>
</div>
{% endblock %}