{% extends 'store_app/main.html' %}

{% block header %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apple Store</title>
</head>
{% endblock %}


{% block body %}

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Apple Store</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Shop the latest Apple products, accessories and offers.<br>Compare models, get expert shopping help, plus flexible payment and delivery options.</p>
                </div>
            </div>
        </header>

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for category in categories %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{category.image.url}}" style="height: 290px" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{category.name}}</h5>
                                </div>
                            </div>
                            <div class="add_to_cart">
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <a href="{{category.slug}}"><button class="btn btn-outline-dark mt-auto update-cart">View products</button></a>
                            </div>
                                </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright © 2023 Apple Inc.</p></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
{% endblock %}